# OpenLattice Python API tutorial

This notebook shows how to use the open API documentation to interact with the OpenLattice backend, and load and join data for analysis with python.

Following this notebook requires a good understanding of our platform.  For more information, see our [helpsite](https://help.openlattice.com/).  Especially understanding the entity data model will be helpful.  If you find yourself stuck on what propertytypes are, and how they relate to datasets, see our description of [the EDM](https://help.openlattice.com/article/20-the-openlattice-standardized-entity-data-model).

After we've installed the python library for the OL-API, we can load the library, set the basepath and our authentication, and get the client. You can find you jwt token in the [**account page**](https://openlattice.com/gallery/#/home) of your openlattice account

In [2]:
# openlattice library
import openlattice
import olpy

# other libraries
from pprint import pprint
import seaborn as sns
import pandas as pd
import numpy as np

# jwt = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Inl1ZUBvcGVubGF0dGljZS5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwidXNlcl9tZXRhZGF0YSI6e30sImFwcF9tZXRhZGF0YSI6eyJyb2xlcyI6WyJBdXRoZW50aWNhdGVkVXNlciJdfSwibmlja25hbWUiOiJ5dWUiLCJyb2xlcyI6WyJBdXRoZW50aWNhdGVkVXNlciJdLCJ1c2VyX2lkIjoiZ29vZ2xlLW9hdXRoMnwxMDA5NDIxMTIzMTE4MzQxNDU2MzYiLCJpc3MiOiJodHRwczovL29wZW5sYXR0aWNlLmF1dGgwLmNvbS8iLCJzdWIiOiJnb29nbGUtb2F1dGgyfDEwMDk0MjExMjMxMTgzNDE0NTYzNiIsImF1ZCI6Im84WTJVMnpiNUl3bzAxamR4TU4xVzJhaU44UHh3VmpoIiwiaWF0IjoxNjExMDk5Mzc3LCJleHAiOjE2MTExMzUzNzd9.LjOVuHj_FiBOoPw0cXm9LW2NZcCIXq-_wIdaBFkKasE"

baseurl = 'https://api.openlattice.com'

configuration = openlattice.Configuration()
configuration.host = baseurl
configuration.access_token = olpy.get_jwt()

## Organization of the openlattice-libraries

Our API endpoints are organized by topic.  You can find detailed information on the API-clients and the functions here: https://github.com/Lattice-Works/api-clients/tree/master/python/docs.  

 API | Description | Link to documentation 
 --- | --- | ---------------------
 AuthorizationsApi | all functions related to checking authorizations | https://github.com/Lattice-Works/api-clients/blob/master/python/docs/AuthorizationsApi.md
 DataApi | all functions related to reading data | https://github.com/Lattice-Works/api-clients/blob/master/python/docs/DataApi.md
 DataIntegrationsApi | all functions related to integrating data | https://github.com/Lattice-Works/api-clients/blob/master/python/docs/DataIntegrationsApi.md
 EdmApi | all functions related to the EDM (entity data model) | https://github.com/Lattice-Works/api-clients/blob/master/python/docs/EdmApi.md 
 EntitySetsApi | all functions related to entity sets, including creating and deleting entitysets, getting and setting metadata | https://github.com/Lattice-Works/api-clients/blob/master/python/docs/EntitySetsApi.md
 OrganizationsApi | all functions related to organizations, eg. creating organizations, adding members, dealing with access roles, materializing entitysets | https://github.com/Lattice-Works/api-clients/blob/master/python/docs/OrganizationsApi.md
 PermissionsApi | all functions related to setting permissions | https://github.com/Lattice-Works/api-clients/blob/master/python/docs/PermissionsApi.md
 PrincipalApi | all functions related to principals. | https://github.com/Lattice-Works/api-clients/blob/master/python/docs/PrincipalApi.md
 SearchApi | all functions related to searching: neighbors,... | https://github.com/Lattice-Works/api-clients/blob/master/python/docs/SearchApi.md
 
**Note**: this table is regularly updated and the table here might be incomplete.

When we load the Api-classes, we will be able to use their functions.

In [3]:
edmApi = openlattice.EdmApi(openlattice.ApiClient(configuration))
entitySetsApi = openlattice.EntitySetsApi(openlattice.ApiClient(configuration))
dataApi = openlattice.DataApi(openlattice.ApiClient(configuration))
searchApi = openlattice.SearchApi(openlattice.ApiClient(configuration))

## Browsing the openlattice platform

First, we will take a look at which datasets we have access to, with the function `edmApi.get_all_entity_sets()`.  If you click on that function in the [documentation](https://github.com/Lattice-Works/api-clients/blob/master/python/docs/EntitySetsApi.md#get_all_entity_sets), it shows which parameters should be added. In this case there are no parameters.

From this function, we get back an object of class EntitySet.  In the [documentation](https://github.com/Lattice-Works/api-clients/blob/master/python/docs/EntitySet.md), we can find a description of all properties in an entityset.
The most important properties:
- **contacts:** email address of the contact-person related to this data.
- **description:** a short description of the dataset.
- **entity_type_id:** the entitytype of the entityset.  Every dataset (entityset) is of a specific predefined type in our datamodel.  You can find more information on the entitytypes in our EDM app (https://openlattice.com/edm/), our by using the `EdmApi`-functions.
- **id:** the **unique identifier** of the entityset, which we will use throughout to handle the entityset.
- **name:** the name of the entityset, without spaces and special characters.
- **organization_id:** each entityset is part of an organization. This identifier is of the organization, which can be looked up with the `OrganizationsApi`-functions.
- **title:** the title of the entityset.  This can be more descriptive than than the name.

In [4]:
all_entity_sets = entitySetsApi.get_all_entity_sets()
pprint(all_entity_sets[12])

{'contacts': [],
 'description': 'This is an automatically generated auditing entity set.',
 'entity_type_id': 'dc7f2571-a453-4c52-9d8d-2200e5777889',
 'flags': ['AUDIT'],
 'id': 'a7772783-7dc3-4e03-bb65-b3a232f9891a',
 'linked_entity_sets': [],
 'linking': None,
 'name': 'fc54e624-9bce-4806-92e0-d2558d12fa6a-2021-2-13-1613207043073',
 'organization_id': 'c83e7cb9-9a7e-46e0-9bf2-62a0789d1942',
 'partitions': [27,
                28,
                141,
                152,
                235,
                215,
                155,
                240,
                75,
                142,
                250,
                159,
                46,
                11,
                232,
                254,
                251,
                161,
                199,
                130,
                200,
                223,
                220,
                33,
                207,
                56,
                185,
                165,
                65,
                188,
                71,
                180,
                221,
                246,
                104,
                95,
                68,
                137,
                12,
                194,
                248,
                212,
                189,
                26,
                237,
                234,
                66,
                243,
                83,
                202,
                134,
                219,
                80,
                47,
                253,
                86,
                45,
                13,
                24,
                123,
                173,
                39,
                110,
                208,
                158,
                145,
                36,
                175,
                167,
                89,
                190,
                140,
                153,
                205,
                48,
                22,
                101,
                147,
                170,
                121,
                229,
                109,
                156,
                176,
                32,
                178,
                34,
                192,
                233,
                247,
                213,
                107,
                146,
                19,
                97,
                174,
                131,
                25,
                128,
                98,
                54,
                226,
                148,
                166,
                224,
                209,
                193,
                244,
                70,
                94,
                90,
                16,
                40,
                105,
                73,
                228,
                100,
                113,
                3,
                211,
                122,
                154,
                138,
                88,
                201,
                129,
                119,
                168,
                91,
                111,
                43,
                60,
                135,
                195,
                23,
                132,
                242,
                225,
                6,
                78,
                186,
                42,
                236,
                30,
                61,
                136,
                127,
                117,
                217,
                204,
                87,
                0,
                21,
                29,
                216,
                44,
                238,
                79,
                8,
                37,
                18,
                35,
                63,
                38,
                76,
                9,
                59,
                5,
                96,
                52,
                239,
                2,
                144,
                112,
                116,
                184,
                74,
                17,
                218,
                99,
                108,
                196,
                227,
                171,
                245,
                102,
                103,
                53,
                126,
                139,
                118,
                150,
                93,
                77,
                50,
                241,
                163,
                172,
                62,
                31,
                67,
                169,
                125,
                41,
                149,
                197,
                203,
                114,
                64,
                198,
                106,
                57,
                4,
                179,
                151,
                222,
                10,
                210,
                51,
                177,
                252,
                256,
                214,
                255,
                72,
                84,
                115,
                181,
                164,
                249,
                187,
                182,
                1,
                191,
                183,
                133,
                81,
                162,
                124,
                85,
                143,
                206,
                58,
                82,
                120,
                157,
                92,
                231,
                69,
                20,
                15,
                14,
                230,
                55,
                49,
                7,
                160],
 'title': 'Audit entity set for incident_charges_15m '
          '([fc54e624-9bce-4806-92e0-d2558d12fa6a])'}

To look deeper at the entitysets, and for example filter the list to see all entityset-names from the Demo-data, and their ID's, we could use a list comprehension:

In [5]:
entity_set_list = [x.name for x in all_entity_sets if "Demo: " in x.title]
print(entity_set_list)

['DemoSubjectOf', 'DemoProviders', 'DemoPersonDetailsHealth', 'DemoEpisodes', 'DemoTransportedBy', 'DemoPatients', 'DemoResultsIn', 'DemoSubstances', 'DemoArrestedBy', 'DemoUsing', 'DemoCallsForService', 'DemoHealthConditions', 'DemoSuspectedOf', 'DemoInsurance', 'DemoChargedWith', 'DemoRelatedTo', 'DemoScheduled', 'DemoEncounters', 'DemoVitalSigns', 'DemoPresentsFor', 'DemoAssessedBy', 'DemoInvolvedIn', 'DemoHousings', 'DemoOccurredAt', 'DemoEpisodeDetails', 'DemoBookedIn', 'DemoEligibleFor', 'DemoHas', 'DemoLivesAt', 'DemoChargeEvents', 'DemoFacilities', 'DemoAgencies', 'DemoIncomes', 'DemoReleasedBy', 'DemoObservedIn', 'DemoReported', 'DemoAppointments', 'Symptoms']

Everything in our database is identified with a Universally Unique Identifier (UUID).  We have a number of functions to query the id, to use in subsequent functions: `entitySetsApi.get_entity_set_id`, `edmApi.get_entity_type_id`, `edmApi.get_property_type_id`.  For example if we want the UUID for the dataset `DemoPatients`, we can use:

In [6]:
entity_set_id = entitySetsApi.get_entity_set_id("DemoPatients")
print(entity_set_id)

2f3afb54-f757-414c-b7c1-0b07c194edad

If we want to know the details of one specific entity set, we could use the function `get_entity_set()`, with as argument the entityset id:

In [7]:
entitySetsApi.get_entity_set(entity_set_id)

{'contacts': ['kim@openlattice.com', 'jason@openlattice.com'],
 'description': 'Patients logged in the OpenLattice healthcare demo data. This '
                'data is artificial and for demonstration purposes only.',
 'entity_type_id': '31cf5595-3fe9-4d3e-a9cf-39355a4b8cab',
 'flags': ['EXTERNAL'],
 'id': '2f3afb54-f757-414c-b7c1-0b07c194edad',
 'linked_entity_sets': [],
 'linking': None,
 'name': 'DemoPatients',
 'organization_id': '1d5aa1f4-4d22-46a5-97cd-dcc6820e7ff8',
 'partitions': [117],
 'title': 'Demo: Patients'}

#### Exercises

Here are a few questions you could answer using the OpenLattice - libraries when browsing around.  

*easy:*
- What is the entity set ID for the entity set "DemoFacilities"
- Who is the contact person for this entity set?

*moderate:* (requires looking at the documentation, can be done using 1 function)

- There is an entity type called `general.person`.  Try finding the entity type ID.
- Load the entity type.
- There are a number of properties in this entity type.  They are stored as their ID's.  Try to transform one of these ID's into the property type name.

- The entity set above belongs to the organization with ID `'1d5aa1f4-4d22-46a5-97cd-dcc6820e7ff8'`.  Which organization is this?

## Load data

Loading an entityset is very straightforward with our libraries, and we can directly load these into pandas.
For example we can load the entityset `DemoArrestees`, and read this into a pandas dataframe.

As above, we *first* want to query the entityset ID, and use this ID to load the data.

In [8]:
entity_set_id = entitySetsApi.get_entity_set_id("DemoArrestees")
print(entity_set_id)

6ca4a13d-db38-4220-ae37-b5cef76f7ccb

**Description of data object:**
When loading the data, a list is returned with objects.  We refer to each of these objects as **entities**: a single datapoint.  The keys in the object are the property types (the column names in data-language), and the values the actual values.  There is always one additional key `openlattice.@id`, which is the entity ID or entity key ID.  We will use this later to join the tables.

**Property multiplicity:**
We make the assumption that a single person can be identified with different properties, like multiple versions of the first name, or even typo's in birthdates.  Therefore, the entities returned are lists.

In [9]:
data = dataApi.load_entity_set_data(entity_set_id)
pprint(data[:2])

[{'nc.PersonGivenName': ['Gabbie'],
  'nc.PersonRace': ['white'],
  'nc.PersonSex': ['F'],
  'nc.PersonSurName': ['Bradley'],
  'nc.SSN': ['605-21-2619'],
  'nc.SubjectIdentification': ['eea5cc56-f86e-4069-b7a4-b320973687c7'],
  'openlattice.@id': ['57fb0000-0000-0000-8000-000000015358']},
 {'nc.PersonBirthDate': ['1964-11-02', '1963-11-02'],
  'nc.PersonEthnicity': ['nonhispanic'],
  'nc.PersonGivenName': ['Shelly', 'Rachel'],
  'nc.PersonRace': ['white', 'asian'],
  'nc.PersonSex': ['F'],
  'nc.PersonSurName': ['Peterson'],
  'nc.SSN': ['586-91-9884'],
  'nc.SubjectIdentification': ['7fc22541e8628b435cd1f0830a7e756d'],
  'openlattice.@id': ['16680000-0000-0000-8000-00000000fab2']}]

Loading the data into a pandas dataframe can be done with one command:

In [10]:
df = pd.DataFrame(data)
df.head()

,nc.SSN,nc.SubjectIdentification,nc.PersonSex,nc.PersonSurName,nc.PersonGivenName,nc.PersonRace,openlattice.@id,nc.PersonEthnicity,nc.PersonBirthDate,nc.PersonMiddleName
0,[605-21-2619],[eea5cc56-f86e-4069-b7a4-b320973687c7],[F],[Bradley],[Gabbie],[white],[57fb0000-0000-0000-8000-000000015358],NaN,NaN,NaN
1,[586-91-9884],[7fc22541e8628b435cd1f0830a7e756d],[F],[Peterson],"[Shelly, Rachel]","[white, asian]",[16680000-0000-0000-8000-00000000fab2],[nonhispanic],"[1964-11-02, 1963-11-02]",NaN
2,[593-50-5183],[71e68b95-f619-491f-9ab9-280ed2c19d31],[F],[Townsend],[Kate],[other],[f21b0000-0000-0000-8000-000000015151],[hispanic],[1975-11-13],NaN
3,NaN,[5c8eada7-6d4f-423d-a2be-5aeccd731d9f],[M],[Gutierrez],[John],[black],[57e10000-0000-0000-8000-0000000151c9],[nonhispanic],NaN,NaN
4,[872-76-2703],[5680770345412c221cdca16b68507609],[M],[Jensen],[Adam],[white],[652e0000-0000-0000-8000-00000000fa94],[nonhispanic],"[2001-12-01, 2003-03-12, 2002-03-12]",NaN

#### Visualising the distribution of sex using seaborn

Dealing with the property multiplicity is challenging, since we now have multiple values for each property.  Exploding the table (i.e. expand one list into different rows) will put heavy memory-constraints on the table.  The easiest is to unnest the column of interest, **knowing that this will lead to multiple rows per subject**.  We can use the simple function below, to unnest, and then using seaborn to visualise the distribution.

In [6]:
def unnest(df, col):
    unnested = (df.apply(lambda x: pd.Series(x[col]), axis=1)
                .stack()
                .reset_index(level=1, drop=True))
    unnested.name = col
    return df.drop(col, axis=1).join(unnested)

# df_sex = unnest(df, "nc.PersonSex")
# sns.countplot(x = 'nc.PersonSex', data=df_sex)

In [7]:
cfs = pd.DataFrame(dataAPI.load_entity_set_data("de423ef8-3bb2-453c-b0df-9e92f70de377"))
cfs = unnest(cfs, "openlattice.@id")
cfs = cfs.set_index('openlattice.@id', drop = True).dropna(how='all')
all_neighbors = searchAPI.execute_entity_neighbor_search("de423ef8-3bb2-453c-b0df-9e92f70de377", cfs.index[0])

NameError: name 'dataAPI' is not defined

#### Exercises:

*easy:*
- Load the data for the entity set `DemoPatients`.
- What is the distribution of `nc.PersonEthnicity` in this entity set?
- How many datapoints are there in this dataset?

## Join Entity Sets

We now load the entity set IDs and the data. First, we decide what data we want.  Let's say we have integrated data from a sheriff's office, supportive housing group, and detox center. We want to look at arrestees and any housing statuses they've given in the past. Use your flight diagrams to decide upon entity sets and relationships and get their names: from your OpenLattice integration, you should have a diagram of the graph data model that your data now resides in. The one for our healthcare demonstration data is [here](https://github.com/Lattice-Works/api-clients/blob/master/examples/demohealth.pdf).

We can see that **DemoPatients -> DemoLivesAt -> DemoHousings** gives us people and any housing status associated with them.

As in the previous examples, we can load the data using the DataApi.  We can immediately read them into a pandas DataFrame.  Tables are joined through the column `openlattice.@id`, so we do the following:
- get the entity set id (`entitySetsApi.get_entity_set_id()`)
- load the data into a pandas dataframe (`dataApi.load_entity_set_data()`)
- unnest the index column `openlattice.@id` and set the index to this column.

In [12]:
sourceEntitySetId = entitySetsApi.get_entity_set_id('DemoPatients')
src_data = pd.DataFrame(dataApi.load_entity_set_data(sourceEntitySetId))
src_data = unnest(src_data, "openlattice.@id")
src_data = src_data.set_index('openlattice.@id', drop = True).dropna(how='all')


associationEntitySetId = entitySetsApi.get_entity_set_id('DemoLivesAt')
edge_data = pd.DataFrame(dataApi.load_entity_set_data(associationEntitySetId))
edge_data = unnest(edge_data, "openlattice.@id")
edge_data = edge_data.set_index('openlattice.@id', drop = True).dropna(how='all')

destEntitySetId = entitySetsApi.get_entity_set_id('DemoHousings')
dst_data = pd.DataFrame(dataApi.load_entity_set_data(destEntitySetId))
dst_data = unnest(dst_data, "openlattice.@id")
dst_data = dst_data.set_index('openlattice.@id', drop = True).dropna(how='all')

When looking at the data, we can now see the index is correctly set to `openlattice.@id`.

In [13]:
src_data.head()

,nc.PersonEthnicity,nc.PersonBirthDate,nc.SubjectIdentification,nc.PersonSex,nc.PersonSurName,ol.datasource,nc.PersonGivenName,nc.PersonRace
openlattice.@id,,,,,,,,
11c20000-0000-0000-8000-000000003242,[nonhispanic],[1985-09-22],[4e9b0f1f-1f0a-4346-adaa-8d9475431e1c],[F],[Miller],"[Forest Outpatient Treatment, State Hospital]","[Kimberly, Kim]",[asian]
70d20000-0000-0000-8000-00000000328f,[nonhispanic],[1960-11-03],[2cdd14bc-5a7f-4868-86c1-6b78612f3728],[M],[Beck],"[State Hospital, Anytown Rehabilitation Center]",[Matthew],[white]
caac0000-0000-0000-8000-0000000032bc,[nonhispanic],[1959-01-02],[ffbfe6e0-51b1-46dd-b7d0-dac25a9e58e9],[F],[Walker],[State Hospital],[Christina],[black]
95b80000-0000-0000-8000-000000003263,NaN,[1973-09-10],[4f62e57e-686f-45b8-bd68-901cb844e060],[F],[Alvarado],"[Opiate Treatment Program, Someplace Medical C...",[Megan],[white]
e8620000-0000-0000-8000-0000000031fb,NaN,[1973-08-07],[300a378e-55aa-4bef-bec9-d9b2f356132f],[M],[Nelson],"[State Hospital, Anytown Rehabilitation Center]",[Dickon],NaN

In [14]:
edge_data.head()

                                                                             general.id
openlattice.@id
312a0000-0000-0000-8000-00000000317a  [ffce8cd1-9c69-4dd5-b640-fdb8ff815eb15_DEPENDE...
b6770000-0000-0000-8000-00000000325e   [ffce8c91-9c69-4dd5-b640-fdb8ff815ex12_HOMELESS]
12de0000-0000-0000-8000-000000003248  [ffce8c91-9c69-4dd5-b620-fdb8ff815eb17_DEPENDE...
e71e0000-0000-0000-8000-0000000031e3  [ffce8c91-9c69-4dd5-b620-fdb8ff815eb16_INDEPEN...
9bcd0000-0000-0000-8000-00000000320c    [523e6174-2a49-4fdb-9ecc-be9d85dfc815_HOMELESS]

In [15]:
dst_data.head()

,ol.id,ol.type
openlattice.@id,,
d5000000-0000-0000-8000-000000003234,[HOMELESS],[HOMELESS]
cef20000-0000-0000-8000-0000000032a9,[INDEPENDENT LIVING],[INDEPENDENT LIVING]
608b0000-0000-0000-8000-0000000031d0,[RECENTLY INCARCERATED],[RECENTLY INCARCERATED]
34490000-0000-0000-8000-0000000032ee,[DEPENDENT LIVING],[DEPENDENT LIVING]
74210000-0000-0000-8000-00000000325b,[SOBER HOME],[SOBER HOME]

## Search the links between the entity sets with the API

### Full search (execute_entity_neighbor_search)

To join two entity sets (through an edge/association) we must find the unique ID that each data point, or entity, has in the three tables: the source, destination, and association. We call these IDs the neighbors.

The `execute_entity_neighbor_search`-function allows us to find all neighbors of an entity.  We can find the neighbors of the first entity in the data with the following arguments:

**note:** `src_data.index` is the index of the table: the entity_keys of this entity set)

In [16]:
all_neighbors = searchApi.execute_entity_neighbor_search(sourceEntitySetId, src_data.index[0])
all_neighbors[10]

{'association_details': {'ol.datetimeadministered': ['2015-06-19T23:23:05+00:00',
                                                     '2015-06-20T02:23:05+00:00'],
                         'ol.id': ['4e9b0f1f-1f0a-4346-adaa-8d9475431e1c-06/19/15 '
                                   '19:23:05-1'],
                         'openlattice.@id': ['98bb0000-0000-0000-8000-000000003558']},
 'association_entity_set': {'contacts': ['kim@openlattice.com',
                                         'jason@openlattice.com'],
                            'description': '',
                            'entity_type_id': 'bc37fd8c-3de5-49e1-80db-ad5feb37e408',
                            'flags': ['ASSOCIATION', 'EXTERNAL'],
                            'id': 'c7989932-934c-40fa-8c38-ee4a1e505818',
                            'linked_entity_sets': [],
                            'linking': None,
                            'name': 'DemoPresentsFor',
                            'organization_id': '1d5aa1f4-4d22-46a5-97cd-dcc6820e7ff8',
                            'partitions': [44],
                            'title': 'Demo: PresentsFor'},
 'neighbor_details': {'ol.datetimestart': ['2015-06-19T23:23:05+00:00',
                                           '2015-06-20T02:23:05+00:00'],
                      'ol.id': ['4e9b0f1f-1f0a-4346-adaa-8d9475431e1c_06/19/15 '
                                '19:23:05'],
                      'ol.reason': ['Peptic Ulcer'],
                      'ol.type': ['Emergency'],
                      'openlattice.@id': ['5d520000-0000-0000-8000-0000000031cb']},
 'neighbor_entity_set': {'contacts': ['kim@openlattice.com',
                                      'jason@openlattice.com'],
                         'description': 'Healthcare encounters (e.g., doctor '
                                        'visits) in the OpenLattice healthcare '
                                        'demo data. This data is artificial '
                                        'and for demonstration purposes only.',
                         'entity_type_id': '85499cb1-58bc-4f5c-85f2-99d7f4baca69',
                         'flags': ['EXTERNAL'],
                         'id': 'f52c448f-1b55-4342-93d9-0c7b0fa66e1e',
                         'linked_entity_sets': [],
                         'linking': None,
                         'name': 'DemoEncounters',
                         'organization_id': '1d5aa1f4-4d22-46a5-97cd-dcc6820e7ff8',
                         'partitions': [5],
                         'title': 'Demo: Encounters'},
 'neighbor_id': '5d520000-0000-0000-8000-0000000031cb'}

### Filtered search (execute_filtered_entity_neighbor_id_search)

The above approach is very handy of you're looking at 1 row, and you want to find all associated data.  However, often we are interested in joining the full table.  In order to do that, we can use the [filtered entity neighbor id search](https://github.com/Lattice-Works/api-clients/blob/master/python/docs/SearchApi.md#execute_filtered_entity_neighbor_id_search), which will return a table with keys between the two datasets.

With the filtered search, we can be more specific about the source, destination and association. To make such a query, we need to instantiate an object of type `openapi_client.NeighborSearchFilter`.  Note that we will give the source_entity_set_id in the search function, so we leave it as an empty list here in the object.

**Always set the _other_ entity set (whether source or destination) to a blank.**

In [17]:
neighbor_filter = openlattice.NeighborSearchFilter(
    edge = [associationEntitySetId],
    src = [],
    dst = [destEntitySetId],
    entity_key_ids = src_data.index.tolist()
)

Now we can do the filtered search.

In [18]:
neighbor_ids = searchApi.execute_filtered_entity_neighbor_id_search(sourceEntitySetId, neighbor_filter)
# you can call neighbor_ids directly
# >> neighbor_ids
# the hacking below is to render only part of the output

{list(neighbor_ids.keys())[0]: neighbor_ids[list(neighbor_ids.keys())[0]]}

{'e6e70000-0000-0000-8000-000000003233': {'668e63bc-a112-460c-8036-00fc3742ae4c': {'0fb7390e-a2b2-4855-ac46-bcce5ced9986': [{'association_id': '596b0000-0000-0000-8000-0000000031a0',
     'neighbor_id': '34490000-0000-0000-8000-0000000032ee',
     'src': True}]}}}

What is returned is a complex object, to minimize the data transfer of the network as much as possible.  Wit the following function, you can transform this object in a easy to use pandas table:

In [19]:
def unnest_neighbor_ids(neighbor_ids):
    unnested_object = [{"src": srckey, "edge": neighbor_entity_ids.association_id, "dst": neighbor_entity_ids.neighbor_id}
                 for srckey, srckey_neighbors in neighbor_ids.items()
                 for ass_entset_id, src_ass_neighbors in srckey_neighbors.items()
                 for dst_entset_id, src_ass_dst_neighbors in src_ass_neighbors.items()
                 for neighbor_entity_ids in src_ass_dst_neighbors
                 ]
    unnested_table = pd.DataFrame(unnested_object)
    return unnested_table

In [20]:
edges_table = unnest_neighbor_ids(neighbor_ids)
edges_table.head()

,src,edge,dst
0,e6e70000-0000-0000-8000-000000003233,596b0000-0000-0000-8000-0000000031a0,34490000-0000-0000-8000-0000000032ee
1,6f940000-0000-0000-8000-00000000321f,fab60000-0000-0000-8000-00000000324c,cef20000-0000-0000-8000-0000000032a9
2,6f940000-0000-0000-8000-00000000321f,78990000-0000-0000-8000-000000003171,d5000000-0000-0000-8000-000000003234
3,a2e20000-0000-0000-8000-00000000327b,71800000-0000-0000-8000-0000000031db,d5000000-0000-0000-8000-000000003234
4,a2e20000-0000-0000-8000-00000000327b,01b70000-0000-0000-8000-000000003193,34490000-0000-0000-8000-0000000032ee

You can always use this function, so you don't need to understand the full object.  However, if you want to understand the returned object for reduced computations, this is what it looks like:

```
{
    <source_entity_id> : 
        {
            <association_entity_set_id>:
                {
                    <destination_entity_set_id>:
                        [
                            {
                                association_id: <association_entity_id>,
                                neighbor_id: <destination_entity_id>,
                                src: True
                            },
                            ...
                        ]
                },
                ...
         }
         ...
    }
```

## Combining the data with the association.

Now we can do left joins on the edges table with the other tables.  For example, we can see that the first person *Kim Miller* has had 3 different housing situations reported.

In [21]:
recombined = edges_table.merge(
    src_data, 
    left_on='src', 
    right_index = True, 
    how="left"
).merge(
    edge_data, 
    left_on='edge', 
    right_index = True, 
    how="left"
).merge(
    dst_data, 
    left_on='dst', 
    right_index = True, 
    how="left"
)

In [22]:
recombined.head(5)

,src,edge,dst,nc.PersonEthnicity,nc.PersonBirthDate,nc.SubjectIdentification,nc.PersonSex,nc.PersonSurName,ol.datasource,nc.PersonGivenName,nc.PersonRace,general.id,ol.id,ol.type
0,e6e70000-0000-0000-8000-000000003233,596b0000-0000-0000-8000-0000000031a0,34490000-0000-0000-8000-0000000032ee,[nonhispanic],[1950-06-07],[0d9c492d-9d71-4955-a224-5c9ed34bc380],[M],[Johnson],"[State Hospital, Anytown Rehabilitation Center]","[Charlie, Chuck]",[white],[0d9c492d-9d71-4955-a224-5c9ed34bc380_DEPENDEN...,[DEPENDENT LIVING],[DEPENDENT LIVING]
1,6f940000-0000-0000-8000-00000000321f,fab60000-0000-0000-8000-00000000324c,cef20000-0000-0000-8000-0000000032a9,[nonhispanic],[1955-08-19],[ffce8c91-9c69-4dd5-b640-fdb8ff815eb12],[F],[Crosby],"[State Hospital, Anytown Rehabilitation Center]",[Cassandra],[white],[ffce8c91-9c69-4dd5-b640-fdb8ff815eb12_INDEPEN...,[INDEPENDENT LIVING],[INDEPENDENT LIVING]
2,6f940000-0000-0000-8000-00000000321f,78990000-0000-0000-8000-000000003171,d5000000-0000-0000-8000-000000003234,[nonhispanic],[1955-08-19],[ffce8c91-9c69-4dd5-b640-fdb8ff815eb12],[F],[Crosby],"[State Hospital, Anytown Rehabilitation Center]",[Cassandra],[white],[ffce8c91-9c69-4dd5-b640-fdb8ff815eb12_HOMELESS],[HOMELESS],[HOMELESS]
3,a2e20000-0000-0000-8000-00000000327b,71800000-0000-0000-8000-0000000031db,d5000000-0000-0000-8000-000000003234,[nonhispanic],"[1974-06-07, 1974-12-13]",[1dddcaa1-32ae-49e7-9b68-0c0e909bab11],[M],[Alvarez],"[State Hospital, County Methadone Treatment Pr...","[Nate, Nathan]","[white, asian]",[1dddcaa1-32ae-49e7-9b68-0c0e909bab11_HOMELESS],[HOMELESS],[HOMELESS]
4,a2e20000-0000-0000-8000-00000000327b,01b70000-0000-0000-8000-000000003193,34490000-0000-0000-8000-0000000032ee,[nonhispanic],"[1974-06-07, 1974-12-13]",[1dddcaa1-32ae-49e7-9b68-0c0e909bab11],[M],[Alvarez],"[State Hospital, County Methadone Treatment Pr...","[Nate, Nathan]","[white, asian]",[1dddcaa1-32ae-49e7-9b68-0c0e909bab11_DEPENDEN...,[DEPENDENT LIVING],[DEPENDENT LIVING]